body {
  width: 100vw;
  z-index: -100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container {
  padding: 0 10% 0 8%;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.about_me {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  height: 100vh;
}

.bg {
  z-index: -1;
  width: 100%;
  position: relative;
  height: 0;
}

.section_title {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about_me_bg {
  background: url("./images/cover/CoverImage.png") center center / cover
    no-repeat;
  z-index: -1;
  width: 100%;
  padding-top: calc(967 / 1279 * 100%);
  display: flex;
  flex-direction: column;
  position: relative;
}

.about_me_header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1% 1% 0 1%;
  height: fit-content;
}

.navbar {
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  padding: 0 2%;
  position: fixed;
  right: 0;
  top: 20%;
  text-align: right;

  width: 10%;
  z-index: 100;
}

.profile {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: space-around;
  margin-top: -25%;
}

.profile_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: space-around;
  /* justify-content: space-around; */
  place-items: center;
  width: 100%;
}
.profile_name_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
  width: 25vh;
  align-items: center;
}

.profile_img {
  width: 10vw;
  height: auto;
}

.profile_name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile_info {
  width: 100%;
  text-align: left;
}

.profile_disc_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: stretch;
  width: 100%;
  height: 100%;
}

.profile_disc_item {
  display: block;
}

.profile_disc_item > h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.profile_disc_item > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 30px;
}

.profile_disc_item > div > div > p:nth-child(2) {
  font-size: 10px;
}

.introduce {
  color: black;
  font-size: 30px;
  padding-left: 5%;
}

.discription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10% 0 5%;
  column-gap: 10%;
}

.section_container {
  display: flex;
  flex-direction: column;
}

.content_section {
  margin-bottom: 10%;
}

.content_section h2 {
  font-size: 1.5vmax;
  margin-bottom: 5%;
  flex: 1 0 auto;
}

.content_section p {
  font-size: 1vmax;
  line-height: 1.5;
}

.exmotion_bg {
  background: url("./images/1_exmotion/exmotion_1.png") center center / cover
    no-repeat;
  z-index: -1;
  width: 100%;
  padding-top: calc(1165 / 1391 * 100%);
  display: flex;
  height: 0;
  flex-direction: column;
  position: relative;
}
#exmotion {
  position: absolute;
  top: 24.5%;
  left: 0;
}
.exmotion {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.exmotion_img_2,
.exmotion_img_3,
.exmotion_img_4,
.exmotion_img_5 {
  width: 100%;
  height: auto;
}
.exmotion_big_container {
  width: 100%;
}
.exmotion_img_grid {
  display: grid;
  grid-template-columns: 1fr;
  place-self: center;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  margin: 5% 0;
  padding: 0 10% 0 8%;
}
.exmotion_img_container1 {
  display: grid;
  grid-template-columns: 6fr 4fr;
  width: 100%;
  column-gap: 10%;
}

.exmotion_img_container2 {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  column-gap: 5%;
  width: 100%;
}

.exmotion_img_14_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.exmotion_img_7 {
  /* width: 80%; */
}

.exmotion_img_7_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.exmotion_img_6_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exmotion_img_6 {
  /* height: 70%; */
  width: 100%;
}

.exmotion_img_10,
.exmotion_img_11 {
  width: 100%;
}

.exmotion_img_14,
.exmotion_img_6 {
  margin-top: 10%;
  width: 100%;
}

.exmotion_text_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.exmotion_content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  text-align: center;
}

.exmotion_title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#sheer {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 13%;
}

.sheer_bg {
  background: url("./images/2_sheer/sheer_1.png") center center / cover
    no-repeat;
  padding-top: calc(495 / 744 * 100%);
  width: 100%;
  height: 0;
  margin-top: -13%;
  position: relative;
}

.sheer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sheer_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sheer_big_container {
  width: 100%;
}

.sheer_grid {
  padding: 10% 10% 10% 8%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  place-content: center;
  gap: 10%;
}

.sheer_pink {
  display: grid;
  grid-template-columns: 6fr 4fr;
  place-items: center;
  width: 100%;
  column-gap: 13%;
}

.sheer_img_3,
.sheer_img_5,
.sheer_img_6,
.sheer_img_7,
.sheer_img_20 {
  width: 100%;
}
.sheer_logo {
  width: 100%;
  height: auto;
}

/* .sheer_img_4,
.sheer_img_8,
.sheer_img_9,
.sheer_img_gif {
  width: 100%;
  height: auto;
} */

.sheer_disc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sheer_disc_contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.sheer_disc_contents_left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}
.sheer_disc_contents_left p {
  font-size: 0.5em;
}
.sheer_img_4 {
  height: 40%;
  width: auto;
}

.sheer_img_7 {
  width: 90%;
  place-self: end;
}
.sheer_thread {
  display: grid;
  grid-template-rows: 2fr 7fr;
  row-gap: 10%;
}
.space_disc {
  font-size: 0.5em;
  width: 100%;
}

.sheer_gif {
  width: 100%;
  height: auto;
}

.sheer_img_gif {
  width: 100%;
  height: auto;
}
.thread_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  column-gap: 10%;
}
.thread_disc {
  align-self: center;
}

.thread_img {
  width: 100%;
  height: auto;
}

.sheer_img_10 {
  background: url("./images/2_sheer/sheer_10.jpg") center center / cover
    no-repeat;

  padding-top: calc(691 / 1308 * 100%);
}

.sheer_img_10 span {
  position: absolute;
  top: 8%;
  left: 8%;
}
.sheer_iconography {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sheer_img_11 {
  background: url("./images/2_sheer/sheer_11.jpg") center center / cover
    no-repeat;
  padding-top: calc(427 / 1045 * 100%);
}
.applications_disc {
  margin-bottom: 5%;
}

.sheer_applications {
  width: 100%; /* 너비 설정 */
  height: auto; /* 높이 설정 */
}

.sheer_applications_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: stretch;
  width: 100%;
  height: auto;
}

.sheer_applications_grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sheer_end {
  width: 100%;
  height: auto;
  margin-top: -25%;
}

.sheer_mat {
  display: grid;
  grid-template-columns: 4fr 6fr;
  place-items: center;
}

.sheer_img_12,
.sheer_img_13,
.sheer_img_14,
.sheer_img_15,
.sheer_img_16,
.sheer_img_17 {
  width: 100%;
  height: auto;
}

.sheer_mat_container {
  display: grid;
  grid-template-rows: 2fr 8fr;

  place-content: space-between;
}

.sheer_img_19 {
  width: 90%;
}

.sheer_img_18 {
  width: 100%;
}

#nomadland {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13%;
}
.nomadland {
  background: url("./images/3_nomadland/nomadland_1-1.png") center center /
    cover no-repeat;
  padding-top: calc(2404 / 1282 * 100%);
  margin-top: -12.75%;
}

.nomadland_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12.75%;
  justify-content: space-around;
}

.nomadland_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 40vh;
}

.nomadland_img_2_container {
  display: flex;
  justify-content: flex-end;
}
.nomadland_img_2 {
  width: 90%;
  height: auto;
}

.nomadland_img_3_container {
  display: grid;
  grid-template-columns: 6fr 5fr;
  place-items: center;
  margin-top: 10%;
  width: 100%;
}

.nomadland_img_3,
.nomadland_img_4 {
  width: 70%;
  height: auto;
}

.anagreen_big_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -17.5%;
  /* z-index: -1; */
}

.anagreen {
  background: url("./images/4_anagreen/anagreen_5.png") center center / cover
    no-repeat;
  padding-top: calc(734 / 1279 * 100%);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  z-index: 0;
  margin-top: -17.5%;
}

.anagreen_gif {
  overflow: visible;
  margin-top: -2%;
  height: 0;
  width: 100%;
  background-image: url("./images/4_anagreen/anagreen_performance_gif.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: calc(1080 / 1920 * 100%);
}

.anagreen_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.anagreen_title {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 17.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
  text-align: center;
  align-items: center;
  width: 100%;
}
.anagreen_img_1,
.anagreen_img_4 {
  width: 100%;
  height: auto;
}

.anagreen_img_4 {
  z-index: -1;
}

.anagreen_img_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  place-items: center;
  position: relative;
  column-gap: 5%;
}

.anagreen_big {
  margin: 5% 0;
  position: relative;
}

.anagreen_img_3 {
  width: 100%;
  padding-left: 10%;
  /* padding-top: calc(408 / 724 * 100%); */
}

.anagreen_img_2 {
  height: 87%;
  align-self: start;
}

.anagreen_disc {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 8%;
}

.erotic {
  background: url("./images/5_UsesOftheErotic/UsesOftheErotic_1.png") center /
    cover no-repeat;
  padding-top: calc(1934 / 1006 * 100%);
  margin-top: -8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.erotic_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 8%;
}

.erotic_img_3 {
  width: 100%;
}

.urbanism {
  background: url("./images/6_Urbanism/Urbanism_1.png") center / cover no-repeat;
  padding-top: calc(4263 / 1291 * 100%);
  margin-top: -8%;
}

.urbanism_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.urbanism_title {
  color: white;
}

.city {
  background: url("./images/7_CityinTransition/cityintransition_1.png") center /
    cover no-repeat;
  padding-top: calc(960 / 1286 * 100%);
  margin-top: -30%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: min-content;
}

.city_container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: -1;
}

.city_gif {
  background: url("./images/7_CityinTransition/KakaoTalk_Photo_2024-06-11-02-53-18.gif")
    center / cover no-repeat;
  padding-top: calc(987 / 1835 * 100%);
  height: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  position: relative;
}

.hellbound_video {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.hellbound_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.space {
  height: 50vh;
}

.karen {
  background: url("./images/8_karenBrodine/karenBrodine_2.png") center / cover
    no-repeat;
  padding-top: calc(638 / 1277 * 100%);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -12%;
  width: 100%;
}

.karen_title {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  margin-top: 15%;
}

.karen_img_100 {
  width: 100%;
  height: auto;
  position: relative;
  background: url("./images/8_karenBrodine/karenBrodine_100.png") center / cover
    no-repeat;
  padding-top: calc(2415 / 1002 * 100%);
  z-index: -1;
  height: 0;
}
.karen_gradient {
  background: url("./images/11_shadowCV/ShadowCV_4.png") center / cover
    no-repeat;
  height: 0;
  padding-top: calc(574 / 1297 * 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.karen_img_3poster_container {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.karen_img_3poster {
  width: 80%;
}

.hellbound_bg {
  background: url("./images/9_hellbound/IMG_7392.jpeg") center / cover no-repeat;
  padding-top: calc(2291 / 2691 * 100%);
}

.hellbound_gradient {
  background: url("./images/8_karenBrodine/karenBrodine_2.png") center / cover
    no-repeat;
  height: 0;
  padding-top: calc(638 / 1277 * 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -12%;
}
.hellbound_title {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.hellbound_img {
  width: 100%;
  height: auto;
}

.society_img {
}
.society {
  background: url("./images/10_informationSociety/infomationSociety_3.png"),
    linear-gradient(170deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 30%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: calc(574 / 1297 * 100%);
  margin-top: -4%;
}

.society_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}

.society_img {
  width: 100%;
  height: auto;
  margin-top: -20%;
}

.shadow {
  background: linear-gradient(
      175deg,
      rgba(255, 255, 255, 1) 0% 20%,
      rgba(255, 255, 255, 0) 60% 100%
    ),
    url("./images/11_shadowCV/ShadowCV_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(854 / 1295 * 100%);
  height: auto;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 15%;
}

.shadow_title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.shadow_img_container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  width: 100%;
  padding: 0 10% 0 8%;
  align-items: center;
  margin-bottom: 5%;
  column-gap: 5%;
}

.shadow_imgs {
  width: 100%;
  height: auto;
}

.shadow_img_5 {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.letter_title {
  width: 100%;
  margin-bottom: 5%;
}

.letter_img {
  width: 100%;
  height: auto;
}

.letter_text_container {
  display: grid;
  grid-template-columns: 5.5fr 4.6fr;
  padding-left: 3%;
}
.letter_text_grid {
  display: grid;
  grid-template-columns: 4fr 6fr;
  column-gap: 2%;
}

.letter_text_title_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
